[project]
name = "nanoembeddings"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "accelerate>=1.12.0",
    "datasets>=4.5.0",
    "sentence-transformers>=5.2.3",
    "trackio>=0.13.0",
]
